.container{
    width: 100%;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: auto;
}

.footer_top{
    padding-top: 60px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(35, 31, 30, 0.2);
}

.footer_columns {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 2.25fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2.25fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-transform: capitalize;
}


.footer_logo {
    display: flex;
    height: 100%;
    margin-bottom: 35px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.footer_paragraph {
    max-width: 385px;
    font-size: 14px;
    line-height: 150%;
    text-transform: none;
    font-family: Inter, sans-serif;
    margin-bottom: 40px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer_menu_title{
    margin-top: 0px;
    margin-bottom: 23px;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer_payment_thumb_wrap {
    display: -ms-grid;
    display: grid;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 10.34px;
    grid-template-areas: ". Area";
    -ms-grid-columns: 58px 6px 58px 6px 58px 6px 58px;
    grid-template-columns: 58px 58px 58px 58px;
    -ms-grid-rows: auto 10.34px auto;
    grid-template-rows: auto auto;
}

.payment_single_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 40px;
    min-width: 58px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: #d9d9d9;
    border-radius: 5px;
}

.footer_menu_title{
    margin-top: 0px;
    margin-bottom: 23px;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer_menu_list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #0e0f18;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0px;
}

.list-item {
    margin-bottom: 0px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #000;
    font-size: 14px;
    line-height: 200%;
    font-weight: 400;
}
   
    
@media screen and (min-width: 1920px) {
    .footer_menu_link {
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .footer_menu_link:hover {
        color: #ff5c4c;
    }
}
   
@media screen and (max-width: 991px) {
    .footer_columns {
        grid-column-gap: 0px;
        grid-template-areas: ".";
        -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    .top_left{
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }
}
   
@media screen and (max-width: 479px) {
    .footer_nav {
        margin-bottom: 30px !important;
        grid-column-start: span 2;
        -ms-grid-column-span: 2;
        grid-column-end: span 2;
    }

    .top_left{
        grid-column-start: span 4;
        -ms-grid-column-span: 4;
        grid-column-end: span 4;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
    }

    .footer_payment_wrap{
        grid-column-start: span 4;
        -ms-grid-column-span: 4;
        grid-column-end: span 4;
        grid-row-start: span 1;
        -ms-grid-row-span: 1;
        grid-row-end: span 1;
        margin-bottom: 30px;
    }

    .footer_columns {
        grid-row-gap: 0px;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .footer_logo {
        width: 60%;
    }

    .footer_payment_thumb_wrap {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}